body {
  margin: 0;
  padding: 0;
}

/* Common styles for pimg1 and pimg2 */
.pimg1,
.pimg2 {
  min-height: 335px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.pimg2 {
  background-image: url("https://images.unsplash.com/photo-1504159506876-f8338247a14a?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  min-height: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay,
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

}

.ptext,
.ptext2 {
  position: relative;
  z-index: 1;
  transform: translateY(30%);
  text-align: center;
}





/* Styles for screens larger than 1000px */
@media only screen and (min-width: 1024px) {
  .right-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
    box-sizing: border-box;
  }

  .card {
    background-color: #55a630;
    margin: 10px;
    padding: 15px;
    text-align: center;
    width: 200px;
    height: 250px;
    box-sizing: border-box;
    position: relative;
  }

  .card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .card h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }

  .learn-more-button {
    font-size: medium;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
  }
}


/* Styles for individual grid items */
.grid-item {
  width: 33.33%;
  position: relative;
  overflow: hidden;

}

/* Hover effect for grid items */
.grid-item:hover {

  z-index: 10;
}

/* Styles for images within grid items */
.grid-item>img {
  width: 100%;
  height: auto;
}

/* Styles for overlay text within grid items */
.project-card-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 1em;
  background: rgba(255, 255, 255, 0.7);
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

/* Hover effect for overlay text on larger screens */
@media (min-width: 1024px) {
  .grid-item:hover .project-card-text {
    transform: translateY(0%);
  }
}

/* Hide overlay text on smaller screens */
@media (max-width: 1023px) {
  .project-card-text {
    display: block;
  }
}

/* Hover effect for overlay text */
.grid-item:hover .project-card-text {
  transform: translateY(0%);
}



/* Additional styles for mobile screens */
@media (max-width: 768px) {

  .card {
    align-items: center;
    width: auto;
    height: auto;
    position: relative;
    top: 10px;
  }

  .left-section h2 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }

  .learn-more-button {
    display: none;
  }
}