body {
  margin: 0;
  padding: 0;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  background: rgba(0,
      0,
      0,
      0.5);

}

.HF-logo {
  width: 70px;
  height: 50px;
  padding-right: 5%;
}

.manrope {
  font-family: "Manrope";
  font-style: normal;
  line-height: normal;
}

.thin-mono {
  font-family: "Roboto Mono", monospace;
}

/*
.image {
  width: 100;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: src= "HFlogo.png";
}
.image-overlay {
  width: 100%;
  height: 100vh;

  background-color: rgba(red, green, blue, alpha);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  letter-spacing: 5px;
  font-size: vh;
}
*/
#item4 {
  position: relative;
  display: flex;
}



.box {
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
}

.button-cls {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.btn {
  cursor: pointer;
}

.typeofwork {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(html\whitebg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

/*For PC*/
@media only screen and (min-width: 1000px) {}

.our-work-section h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
 
.our-work-section h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
.our-work-section h1 em {
  font-style:normal;
  font-weight: 600;
}

.our-work-section h1 {
  text-transform: capitalize;
}
.our-work-section h1:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 2px;
  content: "";
  background-color: #48c500;
}

.our-work-section h1 span {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 3em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}


.grid {
  margin: 0 auto;
}

.grid-sizer{
  width: 33.33%;
}
.grid-item{
  width:33.33%;
}
.grid-item>img{
  width: 100%;
}


