@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Roboto+Mono:wght@100&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1622037022824-0c71d511ef3c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

}

@media screen and (max-width:768px){
  body,html{
    background-image: none;
    background-attachment:scroll;
  }
}
.meriweather{
    font-family: 'Merriweather', serif;
}



.card:hover {
  transform: translateY(-5px);
}